<div class="row">
    <div class="col-md-4">
        <div class="card card-1 ">
            <div class="card-img">
                <img class="card-img-top1" src="../../assets/img/photo4.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Ghế Đôn Tarujo Flamingo Centurion </h4>
                    <hr>
                    <p>Thương hiệu: PuzzleHome</p>
                    <p>Loại: Ghế đôn</p>
                    <p>Màu: Xám</p>
                    <p>Chất liệu: Vải</p>
                    <p>Kích thước: L 65cm W 65cm H 35cm</p>
                </div>

                <div class="card-body">
                    <a href="https://fitin.vn/ghe-don-tarujo-flamingo-centurion-3500.html" class="btn btn-primary btn-block">1,440,000 đ</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-2">
            <div class="card-img">
                <img class="card-img-top2" src="../../assets/img/photo2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"> Bàn Sofa Living Home Vietnam LVH-BT310</h4>
                    <hr>
                    <p>Thương hiệu: Living Home Vietnam</p>
                    <p>Loại: Bàn Sofa</p>
                    <p>Màu: Vàng Ngà</p>
                    <p>Chất liệu: Gỗ Công Nghiệp</p>
                    <p>Kích thước: L 85cm W 55cm H 40cm</p>
                </div>

                <div class="card-body">
                    <a href="https://fitin.vn/ban-sofa-living-home-vietnam-lvh-bt310-1454.html" class="btn btn-primary btn-block">3,300,000 đ</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-3">
            <div class="card-img">
                <img class="card-img-top3" src="../../assets/img/photo3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Giường Đôi Ibie Casa Gỗ Sồi 1m6</h4>
                    <hr>
                    <p>Thương hiệu: IBIE</p>
                    <p>Loại: Giường Đôi</p>
                    <p>Màu: Vàng Ngà</p>
                    <p>Chất liệu: Gỗ Tự Nhiên</p>
                    <p>Kích thước: L 200cm W 160cm H 150cm</p>
                </div>

                <div class="card-body">
                    <a href="https://fitin.vn/giuong-doi-ibie-casa-go-soi-1m6-4437.html" class="btn btn-primary btn-block">10,361,500 đ</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card card-4">
            <div class="card-img4">
                <img class="card-img-top4" src="../../assets/img/photo1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Sofa 3 Chỗ Puzzle Home Rimini</h4>
                    <hr>
                    <p>Thương hiệu: Puzzle Home</p>
                    <p>Loại: Sofa 3 chỗ</p>
                    <p>Màu: Xám</p>
                    <p>Chất liệu: Vải Bố Linen</p>
                    <p>Kích thước: L 227cm W 97cm H 79cm</p>
                </div>

                <div class="card-body">
                    <a href="https://fitin.vn/sofa-3-cho-puzzle-home-rimini-281.html" class="btn btn-primary btn-block">21,210,000 đ</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-5">
            <div class="card-img5">
                <img class="card-img-top5" src="../../assets/img/photo5.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Thùng Rác Nhấn Vuông Fitis 40l - Xám</h4>
                    <hr>
                    <p>Thương hiệu: Fitis</p>
                    <p>Loại: Thùng Rác Inox</p>
                    <p>Màu:Bạc</p>
                    <p>Chất liệu: Kim Loại</p>
                    <p>Kích thước: L 40cm W 29cm H 73cm</p>
                </div>

                <div class="card-body">
                    <a href="https://fitin.vn/thung-rac-nhan-vuong-fitis-40l-xam-4229.html" class="btn btn-primary btn-block">1,159,000 đ</a>
                </div>
            </div>
        </div>
    </div>


    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>


</div>