<div class="sidebar" data-color="purple" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

Tip 2: you can also add an image using data-image tag
-->
    <div class="logo">
        <p class="simple-text logo-normal">Furniture Management</p>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active  ">
                <a class="nav-link" routerLink="">
                    <i class="material-icons">dashboard</i>
                    <p>Home</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/admin/create">
                    <i class="material-icons">person</i>
                    <p>Customer</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/admin/items">
                    <i class="material-icons">table_view</i>
                    <p>Furniture</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/admin/photos">
                    <i class="material-icons">perm_media</i>
                    <p>Photo</p>
                </a>
            </li>
            <!-- <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">location_ons</i>
                    <p>Maps</p>
                </a>
            </li> -->
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">notifications</i>
                    <p>Notifications</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">language</i>
                    <p>IT Support</p>
                </a>
            </li>
        </ul>
    </div>
</div>